
button,
input,
select,
textarea {
  display: block;
  font-family: inherit;
  font-size: 100%;
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

fieldset {
  margin-top: 15px;
}

input:required {
  border: 1px solid black;
}

input:optional {
  border: 1px solid silver;
}

legend {
  background-color: black;
  color: white;
  padding: 5px;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 30px;
  position: relative;
  padding: 0em 0.5em;
}

input + label {
  width: 100%;
}

fieldset > div {
  display: flex;
  flex-flow: row wrap;
}

.form-container {
  width: 500px;
}

.submit-button {
  padding: 4px;
  border-radius: 12px;
}

input[type="text"] + span {
  position: relative;
  width: 0;
}

input + span::before {
  position: absolute;
}

input:required + span::before {
  content: "required";
  top: -40px;
  left: -90px;

  background-color: black;
  color: white;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 5px;
}

input:invalid + span::after {
  content: "✘";
  color: red;
  position: absolute;
  left: -5px;
  top: 10px;
}

input[type="checkbox"] {
  margin-top: 5px;
  display:inline-block;
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  vertical-align: -2px;
  border: 1px solid gray;
  color: green;
}

input[type="checkbox"]::before {
  position: absolute;
  right: -1px;
  top: -0.2em;
  visibility: hidden;
  font-size: 1.2em;
  content: "✔"
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="text"]:invalid {
  outline: 2px solid crimson;
}

select {
  appearance: none;
  width: 200px;
  height: 1.5em;
  border-radius: 5px;
  font: inherit;
  padding-left: 3px;
  margin-top: 5px;
}

.select-wrapper {
  position: relative;  
}

.select-wrapper::after {
  content: "⬇";
  font-size: 1rem;
  position: absolute;
  left: 180px;
  top: 0.4em;
}


#select-id-2 {
  appearance: none;
  height: 1.5em;
  margin-top: 5px;
}

#select-id-2:hover,
#select-id-2:focus {
  appearance: none;
}

input[type="range"] {
  appearance: none;

  background: purple;
  height: .7em;
  border-radius: 12px;
  outline: 1px gray transparent;
}

input[type="file"] {
  height: 0;
  padding: 0;
  opacity: 0;
}

label[for="file"] {
  padding: 5px 50px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 2pX gray;
  background: linear-gradient(to bottom, #ddd, #aaa);
}

label[for="file"]:hover {
  background: linear-gradient(to bottom, #eee, #999);
}

label[for="file"]:active {
  background: linear-gradient(to bottom, #fff, #666)
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background: linear-gradient(to right, #f89cce, #fff);
}

input:valid {
  border: 2px solid green;
  background: linear-gradient(to left, #83e288, #418636);
}

li,
ul {
  list-style-type: none;
}

input[type="radio"] {
  display: inline-block;
  margin: 0;
  padding: 0;
}

input[type="radio"] + label {
  margin: 0;
  padding: 0;
}
