body {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button,
label,
input[type="text"],
input[type="email"] {
  width: 100%;
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset > div {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  padding-left: .5em;
  width: 95%;
  height: 2em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

input + label {
  width: 100%;
}

input:required:invalid {
  outline: 2px solid red;
  border-radius: 5px;
}

input + span {
  position: relative;
}

input:required:invalid + span::after {
  color: red;
  content: "✘";
  position: absolute;
  left: -7px;
  top: 6px;
}

input:required + span:after {
  color: green;
  content: "✔️";
  position: absolute;
  left: -7px;
  top: 6px;
}

input[type="checkbox"] {
  appearance: none;
  height: 1em;
  width: 1em;
  border: 1px solid gray;
  vertical-align: -2px;
  position: relative;
  color: green;
}


label:hover > input[type="checkbox"] {
  background-color: #88bbff;
}

label:active > input[type="checkbox"] {
  background-color: #88ffff;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
  font-size: 1em;
}

select {
  width: 200px;
  appearance: none;
  height: 1.5em;
  padding-left: .5em;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ff0, #cc2);
}

.select-wrapper::after {
  content: "↷";
  font-size: 1.2em;
  position: relative;
  left: -1.2em;
}

select:hover {
  background: linear-gradient(to bottom, #dd2, #aa0);
}

select:active {
  background: linear-gradient(to bottom, #ff0, #cc2);
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: .5em;
  background-color:burlywood;
  border-radius: 12px;
  border: 1px solid black;
  color: black;
}

input[type="file"] {
  height: 0;
  padding: 0;
  opacity: 0;
}

label[for="file"] {
  box-shadow: 1px 1px 3px #ccc;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  line-height: .5em;
  background: linear-gradient(to bottom, #555, #ddd);
}

label[for="file"]:hover {
  background: linear-gradient(to bottom, #777, #fff);
}

label[for="file"]:active {
  box-shadow: inset 1px 1px 5px 10px #ccc;
}