button, label, 
input[type="text"], input[type="email"] {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

body {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  padding: 20px;
}

fieldset > div {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 25px;
}

input + span {
  position: relative;
}

input:required + span::after {
  content: "required";
  position: absolute;
  top: -35px;
  left: -90px;

  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

input:required:invalid + span::before {
  content: "✘";
  position: absolute;
  left: 2px;
  top: 5px;

  color: red;
  font-weight: bold;
}

input:required + span::before {
  content: "✔️";
  position: absolute;
  left: 2px;
  top: 5px;

  color: green;
  font-weight: bold;
}

input[type="checkbox"] + label {
  display: inline;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  vertical-align: -2px;
  top:2px;

  height: 1em;
  width: 1em;
  border: 1px solid gray;
  color: green;
}

input[type="checkbox"]:checked::before {
  visibility: visible;

  content: "✔";
  font-size: 1.2em;
  position: relative;
  bottom: 3px;
  right: 1px;
}

.select-wrapper {
  position: relative;  
}

.select-wrapper::after {
  content: "🖤";
  position: relative;
  font-size: 1.3em;
  left: -1.3em;
  font-weight: bold;
  top: 0.1em;
}

select {
  appearance: none;
  font-size: 100%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  width: 20em;
  height: 2em;
  border-radius: 12px;
  padding-left: 1em;
}

select::after {
}

input[type="range"] {
  appearance: none;
  width: 256px;
  height: 10px;
  background-color:coral;
  border-radius: 12px;
  outline: 5px solid transparent;
}

input[type="file"] {
  height: 0;
  padding: 0;
  opacity: 0;
}

label[for="file"] {
  box-shadow: 1px 1px 3px #ccc;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  line-height: .5em;
  background: linear-gradient(to bottom, #555, #ddd);
}

label[for="file"]:hover {
  background: linear-gradient(to bottom, #777, #fff);
}

label[for="file"]:active {
  box-shadow: inset 1px 1px 5px 10px #ccc;
}